<div class="login">
  <h1>ログイン</h1>
  <%= image_tag('請キュートロゴ.png', size: '200x200', alt: "ロゴ") %>
</div>
<br><br>
<%= form_with(url: sessions_path, local: true) do |f| %>  
  <p>
  <%= f.label :メールアドレス %>
  <%= f.email_field :email, style: "ime-mode:disabled" %>
  </P>
  <P>
  <%= f.label :パスワード %>
  <%= f.password_field :password %>
  </P>
  <br>
  <%= f.submit "ログイン" %>
<% end %>