<div class="nested-fields">
  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
    <%= f.label :unit_price %>
    <%= f.number_field :unit_price %>
    <%= link_to_remove_association image_tag("trash-solid.svg", size: "20x20", class:'icon'), f %>
  </div>
</div>