<h1>請求書編集</h1>
<%= form_with(model: @invoice, local: true) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_expanation">
      <%= @invoice.errors.count %>件のエラーがあります。
      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.fields_for :pictures do |picture| %>
    <p><%= f.label "画像" %></p>
      <%= render "edit_picture_fields", f: picture %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "➕ フィールドを追加", f, :pictures %>
    </div>
  </div>
  <div id="requestor">
    <p><%= f.label :請求元 %></p>
    <p><%= f.select :requestor_id, Requestor.all.collect { |p| [ p.name, p.id ] } %><br>
    <%= link_to edit_requestor_path(@invoice.requestor_id), data: { confirm: "請求元の編集画面に移動してよろしいですか。入力中のデータは失われます。" }, target: :_blank, rel: "noopener noreferrer" do %>
      名称を編集 <i class="fa-solid fa-up-right-from-square"></i>
    <% end %>
  </div>
  <div>
    <p><%= f.label :issued_on %></p>
    <p><%= f.date_field :issued_on, value: Time.now.strftime("%Y-%m-%d") %></p>
  </div>
  <div>
    <p><%= f.label :subject %></p>
    <p><%= f.text_field :subject, style: "ime-mode:active" %></p>
  </div>
  <div>
    <p><%= f.label :due_on %></p>
    <p><%= f.date_field :due_on, value: Time.now.strftime("%Y-%m-%d") %></p>
  </div>
  <div>
    <p><%= f.label :memo %></p>
    <p><%= f.text_area :memo, style: "ime-mode:active" %></p>
  </div>
  <div class="invoice-details">
  <p>詳細</p>
    <%= f.fields_for :invoice_details do |detail| %>
      <%= render "invoice_detail_fields", f: detail %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "➕ フィールドを追加", f, :invoice_details %>
    </div>
  </div>
  <br>
  <br>
  <p><%= f.submit %></p>
<% end %>