<h1>請求書一覧</h1>
<%= form_with scope: :search, url: searches_search_path, method: :get, local: true do |form| %>
  <%= form.date_select :due_on, include_blank: "日付..." %>
  <%= form.search_field :subject, placeholder: "件名..." %>
  <%= form.select :requestor_id, Requestor.all.collect { |p| [ p.name, p.id ] }, include_blank: "請求元..." %>
  <%= form.submit "検索する" %>
<% end %>
<table>
  <tr>
    <th>支払い期日</th>
    <th>件名</th>
    <th><%= link_to "請求元", requestors_path %></th>
    <th>
      <%= link_to "https://drive.google.com/drive/folders/1l7aQ5e_K7ibOOK7rZmIOwXHaOGmNTx_0" do %>
        <i class="fa-brands fa-google-drive"></i>
      <% end %>
    </th>
    <th>
      <%= link_to "https://secure.freee.co.jp/deals" do %>
        <%= image_tag "freee_logo.png", size: "45x45" %>
      <% end %>
    </th>
  </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= l invoice.due_on, format: :default %></td>
      <td><%= link_to invoice.subject, invoice_path(invoice.id) %></td>
      <td><%= invoice.requestor.name %></td>
      <td><%= invoice.google_drive_api_status %></td>
      <td><%= invoice.freee_api_status %></td>
    </tr>
  <% end %>
</table>


<%# @files.each do |file| %>
  <%#= image_tag "https://drive.google.com/uc?id=#{file.id}" %>
<%# end %>