<h1>ユーザー一覧</h1>
<%= link_to new_user_path do %>
  <i class="fa-solid fa-user-plus fa-xl"></i>
<% end %>
<%= paginate @users %>
<table>
  <tr>
    <th>メールアドレス</th>
    <th>ユーザー種別</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.email, edit_user_path(user.id) %></td>
      <td><%= user.role %></td>
      <td>
        <%= link_to user_path(user.id), method: :delete, data: {confirm: "削除しますか"} do %>
          <i class="fa-solid fa-user-slash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>