<h1>検索結果</h1>
<%= form_with scope: :search, url: searches_search_path, method: :get, local: true do |form| %>
  <div>
    <%= button_tag type: "submit" do %>
      <i class="fa-solid fa-magnifying-glass fa-lg"></i> 検索する
    <% end %>
    <%= link_to "結果をクリア", invoices_path %>
  </div>
  <%= form.date_select :due_on, include_blank: "日付..." %>
  <%= form.search_field :subject, placeholder: "件名...", style: "ime-mode:active" %>
  <%= form.select :requestor_id, Requestor.all.collect { |p| [ p.name, p.id ] }, include_blank: "請求元..." %>
<% end %>
<%= paginate @invoices %>
<table>
  <tr>
    <th>支払い期日</th>
    <th>件名</th>
    <th><%= link_to "請求元", requestors_path %></th>
    <th>
      <%= link_to "https://drive.google.com/drive/folders/1l7aQ5e_K7ibOOK7rZmIOwXHaOGmNTx_0" do %>
        <i class="fa-brands fa-google-drive"></i>
      <% end %>
    </th>
    <th>
      <%= link_to "https://secure.freee.co.jp/deals" do %>
        <%= image_tag "freee_logo.png", size: "40x40" %>
      <% end %>
    </th>
  </tr>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= l invoice.due_on, format: :default %></td>
      <td><%= link_to invoice.subject, invoice_path(invoice.id) %></td>
      <td><%= invoice.requestor.name %></td>
      <%# binding.pry %>
      <% if invoice.google_drive_api_status == "未連携" %>
        <td><%= image_tag "triangle-exclamation-solid.svg" %></td>
      <% else %>
        <td><%= image_tag "square-check-regular.svg" %></td>
      <% end %>
      <% if invoice.freee_api_status == "未連携" %>
        <td><%= image_tag "triangle-exclamation-solid.svg", size: "16x16" %></td>
      <% else %>
        <td><%= image_tag "square-check-regular.svg", size: "18x18" %></td>
      <% end %>
    </tr>
  <% end %>
</table>