<!DOCTYPE html>
<html>
  <head>
    <title>Seicute</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to users_path do %>
      <i class="fa-solid fa-users fa-xl"></i>
    <% end %>
    <% if logged_in? %>
      <%= link_to session_path(current_user.id), method: :delete, data: {confirm: "ログアウトしますか？"} do %>
        <i class="fa-solid fa-right-from-bracket fa-xl"></i>
      <% end %>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag(:p, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
  </body>
  <%= link_to invoices_path do %>
    <i class="fa-solid fa-list fa-xl"></i>
  <% end %>
  <%= link_to new_invoice_path do %>
    <i class="fa-solid fa-file-invoice fa-xl"></i>
  <% end %>
  </body>
</html>
